@media (max-width: 481px) {

    /* header */

    header {
        padding-inline: 20px;
    }

    /* Service offers */

    .section_service_offers {
        padding: 64px 48px;
    }

    /* Latest Products */

    .section_latest_products {
        padding-block: 64px;
    }
     .article_products {
        padding-left: 20px;
     }

}