@media (max-width: 481px) {

    /* header */

    header {
        padding-inline: 20px;
    }

    /* Service offers */

    .section_service_offers {
        padding: 64px 48px;
    }

    /* Latest Products */

    .section_latest_products {
        padding-block: 64px;
    }
     .article_products {
        padding-left: 20px;
     }


       /* SHOP ALL / artworks card list */

    .shop_products_section_card {
        width: 100%;
    }
   

}


@media (max-width: 390px) {
    /* index file */
   
    .section_cover_content_p {
        font-size: 24px;
    }

    .section_cover_content_bottom {
        width: 150px;
        height: 45px;
    }

}