@media (max-width: 744px) {

     /* cover content */

     /* .section_cover {
        padding: 92px 46px;
    } */

    .section_cover_content {
        gap: 32px;
    }
   
    /* Find Something Beautiful */


   



    /* Service offers */

   
    .article_products {
        padding-left: 24px;
     }
 

    .section_service_offers_media {
        display: block;
        background: #EA904F;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 180px;
        row-gap: 24px;
    }

    .div {
        width: 180px;
        height: 162px;
        position: relative;
        
    }

    .Pottery_Classes_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* service offers media */

    .section_service_offers_a {
        padding: 8px;
        width: 150px;
        height: 40px;
    }

    .section_cover_content_span {
        font-size: 16px;
        line-height: 24px;
    }

    /* Subscribe to Newsletter  */


    .Subscribe_to_Newsletter {
        height: 80vh;
    }


    /* contact page email form */

    .contact_section_email_form {
        padding: 160px 0 160px 24px;  
}



    /* section contact page map adrees */ 

   


   /* footer */
   .footer {
    padding: 87px 24px;
   }

}

@media (max-width: 701px) {



      /* section contact page map adrees */ 

    .iframe_map {
        width: 600px;
    }



}


@media (max-width: 650px) {



    .section_cover {
        padding: 100px 0;
    }



    .section_subscribe {
        padding-block: 80px;
        background-image: url("/images/Rectangle\ 98\ \(1\).png");
    }

       

        .section_subscribe_content {
            gap: 32px;
    }

    /* .section_subscribe_content_p {
        font-size: 32px;
    }

    .subscribe-form {
        width: 400px;
    } */

    /* footer */


    .footer {
        flex-direction: column;
        align-items: center;
        padding: 32px 123px;
        row-gap: 32px;
    }
    .footer_nav {
        align-items: center;
    }

  .contact_li {
    display: inline-block;
  }

  .contact_li_padding {
    padding-inline: 24px;
  }

    .contact_ahref{
        display: none;
    }


}



@media (max-width: 635px) {
    /* SHOP ALL / artworks card list */

    .shop_products_section {
        padding: 64px 24px;
    }
   .shop_products_section_title_h5 {
    font-size: 20px;
   }




   .iframe_map {
    width: 500px;
}


.artWork_section_1 {
    padding-block: 137px;
   
}
.artWork_section_1_content {
    gap: 30px;
}

.artWork_section_1_p {
    font-size: 32px;
}

.subscribe_form {
    width: 346px;
}





}



@media (max-width: 601px) {

    /* Find Something Beautiful */

    

    /* Subscribe to Newsletter  */



    .Subscribe_to_Newsletter_div_h4 {
        font-size: 32px;
        padding-bottom: 32px;
    }

    .subscribeForm_input {
        padding: 19px 70px 18px 16px;
    }








    /* .section_subscribe {
        width: 100%;
        height: 320px;
    } */

    .section_subscribe_content {
        /* height: 320px; */
        gap: 32px;

    }

    .section_subscribe_content_p {
        font-size: 32px;
    }


     .newslater_form {
        width: 346px;
    } 
    





    .section_cover_content {
        gap: 32px;
    }
    .section_cover_content_p {
        font-size: 32px;
    }

}

@media (max-width: 592px) {
    /* SHOP ALL / artworks card list */
    .shop_products_section {
        gap: 42px;
    }
    .shop_products_section_card {
        width: 47%;
    }

    .page_number_border {
        width: 38px;
        height: 38px;
    }

    .page_number_border_hidden {
        display: none;
    }
   

}

@media (max-width: 550px) {

/* contact page email form */

    .contact_section_email_form {
        padding: 80px 24px;  
}
.contact_section_email_form_main {
    width: 100%;
    max-width: 432px;
}

.contact_section_email_form_h2 {
    font-size: 32px;
}

.contact_section_email_form_input {
    width: 160px;
}

.section_adrees_map {
    padding-block: 62px;
}
.section_adrees_map_contact {
    gap: 40px;
}
.iframe_map {
    width: 450px;
}


}





@media (max-width: 500px) {


     /* Latest Products */

     .section_latest_products_h2 {
        font-size: 32px;
    }

    .shop_products_section_title_h5 {
        font-size: 16px;
       }

   
}
