@media (max-width: 744px) {

     /* cover content */

     .section_cover {
        padding: 92px 46px;
    }

    .section_cover_content {
        gap: 32px;
    }
   
    /* Find Something Beautiful */

    .artWork_section_1_content {
        height: 256px;
    }




    /* Service offers */

   
    .article_products {
        padding-left: 24px;
     }
 

    .section_service_offers_media {
        display: block;
        background: #EA904F;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 180px;
        row-gap: 24px;
    }

    .div {
        width: 180px;
        height: 162px;
        position: relative;
        
    }

    .Pottery_Classes_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* service offers media */

    .section_service_offers_a {
        padding: 8px;
        width: 150px;
        height: 40px;
    }

    .section_cover_content_span {
        font-size: 16px;
        line-height: 24px;
    }

    /* Subscribe to Newsletter  */

   /* footer */
   .footer {
    padding: 87px 24px;
   }

}


@media (max-width: 650px) {



    /* footer */


    .footer {
        flex-direction: column;
        align-items: center;
        padding: 32px 123px;
        row-gap: 32px;
    }
    .footer_nav {
        align-items: center;
    }

  .contact_li {
    display: inline-block;
  }

  .contact_li_padding {
    padding-inline: 24px;
  }

    .contact_ahref{
        display: none;
    }


}



@media (max-width: 635px) {
    /* SHOP ALL / artworks card list */

    .shop_products_section {
        padding: 64px 24px;
    }
   .shop_products_section_title_h5 {
    font-size: 20px;
   }

   .sort {
    padding: 6px 15px 5px 15px;
   }

}



@media (max-width: 601px) {

    /* Find Something Beautiful */

    .artWork_section_1_content {
        gap: 32px;
    }
    .artWork_section_1_p {
        font-size: 32px;
    }
    .subscribe_form {
        width: 408px;
    }

    /* Subscribe to Newsletter  */
    .section_subscribe {
        width: 100%;
        height: 320px;
    }

    .section_subscribe_content {
        height: 320px;
        gap: 32px;

    }

    .section_subscribe_content_p {
        font-size: 32px;
    }

    .subscribe-form {
        width: 347px;
    }
    
    .section_cover_content {
        gap: 32px;
    }
    .section_cover_content_p {
        font-size: 32px;
    }

}

@media (max-width: 592px) {
    /* SHOP ALL / artworks card list */
    .shop_products_section {
        gap: 42px;
    }
    .shop_products_section_card {
        width: 47%;
    }

    .page_number_border {
        width: 38px;
        height: 38px;
    }

    .page_number_border_hidden {
        display: none;
    }
   

}


@media (max-width: 500px) {


     /* Latest Products */

     .section_latest_products_h2 {
        font-size: 32px;
    }

    .shop_products_section_title_h5 {
        font-size: 16px;
       }

   
}
