@media (max-width: 744px) {
    .header_ul {
        display: none;
    }

    .burger {
        display: block;
    }

    /* Service offers */

    .article_products {
        padding-left: 24px;
     }
 

    .section_service_offers_media {
        display: block;
        background: #EA904F;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 180px;
        row-gap: 24px;
    }

    .div {
        width: 180px;
        height: 162px;
        position: relative;
        
    }

    .Pottery_Classes_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* service offers media */

    .section_service_offers_a {
        padding: 8px;
        width: 150px;
        height: 40px;
    }

    .section_cover_content_span {
        font-size: 16px;
        line-height: 24px;
    }

    /* Subscribe to Newsletter  */

   /* footer */
   .footer {
    padding: 87px 24px;
   }

}


@media (max-width: 650px) {

    /* footer */


    .footer {
        flex-direction: column;
        align-items: center;
        padding: 32px 123px;
        row-gap: 32px;
    }
    .footer_nav {
        align-items: center;
    }

  .contact_li {
    display: inline-block;
  }

  .contact_li_padding {
    padding-inline: 24px;
  }

    .contact_ahref{
        display: none;
    }


}



@media (max-width: 601px) {

    /* Subscribe to Newsletter  */

    .section_subscribe_div1 {
        gap: 32px;
    }

    .section_subscribe_div1_h4 {
        font-size: 29px;
        text-align: center;
    }
    .section_subscribe_div1_form {
        width: 348px;
    }
    .section_subscribe_div1_form_input {
        padding: 19px 93px 18px 16px;
        width: 216px;
        height: 56px;
    
    }
    
    .section_subscribe_div1_form_button {
        
        width: 130px;
        height: 56px;
    }

}




@media (max-width: 500px) {

    /* cover */
    
    .section_cover_content {
        width: 388px;
        height: 120px;
    }

    .section_cover_content_p {
        font-size: 32px;
        margin-bottom: 16px;
    }

     /* Latest Products */

     .section_latest_products_h2 {
        font-size: 32px;
    }

   
}
